{% extends 'blog/base.html' %} 
{% load crispy_forms_tags %}
{% block title %}Blog Posts{% endblock title %}


{% block content %}

<div class="row">
    <div class="col">
        <h1 class="mt-2">Posts</h1>

        <div class="container">
            {% crispy form %}
        </div>
        
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item {% if not posts.has_previous %} disabled {% endif %}">
                    <a class="page-link" href="{% if posts.has_previous %} {% url 'blog:browse' page=posts.previous_page_number %}{% endif %}">Previous</a>
                </li>

              {% if posts.number|add:'-2' > 1 %}
                  <li class="page-item disabled"><a class="page-link">&hellip;</a></li>
              {% endif %}
              

              {% for i in posts.paginator.page_range %}
                  {% if posts.number == i %}
                      <li class="active page-item disabled"><a class="page-link" href="#">{{ i }}</a></li>
                  {% elif i > posts.number|add:'-3' and i < posts.number|add:'3' %}
                      <li class="page-item"><a class="page-link" href="{% url 'blog:browse' page=i %}">{{ i }}</a></li>
                  {% endif %}
              {% endfor %}

              {% if posts.paginator.num_pages > posts.number|add:'2' %}
                  <li class="page-item disabled"><a class="page-link" href="#">&hellip;</a></li>
              {% endif %}

              <li class="page-item {% if not posts.has_next %} disabled {% endif %}">
                  <a class="page-link" href="{% if posts.has_next %} {% url 'blog:browse' page=posts.next_page_number %} {% endif %}">Next</a>
              </li>
          </ul>
        </nav>  
    </div>
</div>
{% endblock content %}
