{% extends 'caffeinated_comments/base.html' %}
{% load caffeinated_comments %}
{% block title %}Viewing Post{% endblock title %}

{% block content %}

<div class="row">
    <div class="col">
        <h2 id="title"> {{ post.title }} </h2>
        <br>
        <div id="body"> {{ post.body }} </div>
        <br>
        <div id="author"> Author: {% getAuthorName post %} </div>
        <br>
        <div id="edited"> Edited: {{ post.edited_date }} </div>
        <br>
        <div id="published"> Published: {{ post.pub_date }} </div>
        <button class="btn btn-primary" onclick="window.location.href='{% url "blog:browse" page=1 %}'" id="redirectbutton">Go back to browse</button>
    </div>
</div>

{% caffeinated_comments post.Id%}
{% endblock content %}
